body{
    margin: 0;
    padding: 0;
    background: #313131;
    
}
.slider{
    width: 800px;
    height: 400 px;
    background: url(1.jpg);
    margin: 100px auto;
    animation: slide 20s infinite;


}
@keyframes slide{
    25%{
        background: url(1.jpg);
    }
    50%{
        background: url(2.jpg);
    }
    75%{
        background: url(3.jpg);
    }
    100%{
        background: url(4.jpg);
    }
}