<html>

<body>
	<center>
		<h1 style="color:rgb(141, 141, 227); font-style:italic;">
		Pookalam Hunter
	</h1>
		<h2 style="font-style:italic; color: lightblue;">
		Finding your perfect pookalam...

	</h2>
  <h3>Select your priority for each Colour.</h3>
  <h4>Make sure you do not put the same priority number for two colours !</h4>
    <form id="form1" method="post" >{% csrf_token %}
        <h3>RED</h3>

        <select name="c1" width=300 
                >
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='7'>7</option>
                <option value='100' selected>NONE</option>
        </select>
      
        <h3>YELLOW</h3>

        <select name="c2" width=300 
               >
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='7'>7</option>
                <option value='100' selected>NONE</option>
        </select>

        
            <h3>WHITE</h3>
    
            <select name="c3" width=300>
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value='4'>4</option>
            <option value='5'>5</option>
            <option value='6'>6</option>
            <option value='7'>7</option>
            <option value='100' selected>NONE</option>
            </select>
          
            <h3>ORANGE</h3>
    
            <select name="c4" width=300 
                    >
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='100' selected>NONE</option>
            </select>
          
            <h3>VIOLET</h3>
    
            <select name="c5" width=300 
                    >
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='100' selected>NONE</option>
            </select>
          
            <h3>GREEN</h3>
    
            <select name="c6" width=300 
                    >
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='100' selected>NONE</option>
            </select>
          
            <h3>PINK</h3>
    
            <select name="c7" width=300 
                    >
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='100' selected>NONE</option>
            </select>
            <hr>
              <input type="submit">
            <hr>
          </form>
              
            
                
      
	</center>

</body>

</html>

