<html>

<body>
	<center>
		<h1 style="color:rgb(141, 141, 227); font-style:italic;">
		Pookalam Hunter
	</h1>
		<h2 style="font-style:italic; color: lightblue;">
		Finding your perfect pookalam...
	</h2>
    <form id="form1">
        <h3>Colour 1:</h3>

        <select width=300 
                style="width: 350px">
          <option value='1'>RED</option>
          <option value='2'>YELLOW</option>
          <option value='3'>WHITE</option>
          <option value='4'>ORANGE</option>
          <option value='5'>VIOLET</option>
          <option value='6'>GREEN</option>
          <option value='7'>PINK</option>
          <option value='100'>NONE</option>
          <option value='' selected>Select a Color</option>
        </select>
      
        <h3>Colour 2:</h3>

        <select width=300 
                style="width: 350px">
          <option value='1'>RED</option>
          <option value='2'>YELLOW</option>
          <option value='3'>WHITE</option>
          <option value='4'>ORANGE</option>
          <option value='5'>VIOLET</option>
          <option value='6'>GREEN</option>
          <option value='7'>PINK</option>
          <option value='100'>NONE</option>
          <option value='' selected>Select a Color</option>
        </select>

        
            <h3>Colour 3:</h3>
    
            <select width=300 
                    style="width: 350px">
              <option value='1'>RED</option>
              <option value='2'>YELLOW</option>
              <option value='3'>WHITE</option>
              <option value='4'>ORANGE</option>
              <option value='5'>VIOLET</option>
              <option value='6'>GREEN</option>
              <option value='7'>PINK</option>
              <option value='100'>NONE</option>
              <option value='' selected>Select a Color</option>
            </select>
          
            <h3>Colour 4:</h3>
    
            <select width=300 
                    style="width: 350px">
              <option value='1'>RED</option>
              <option value='2'>YELLOW</option>
              <option value='3'>WHITE</option>
              <option value='4'>ORANGE</option>
              <option value='5'>VIOLET</option>
              <option value='6'>GREEN</option>
              <option value='7'>PINK</option>
              <option value='100'>NONE</option>
              <option value='' selected>Select a Color</option>
            </select>
          
            <h3>Colour 5:</h3>
    
            <select width=300 
                    style="width: 350px">
              <option value='1'>RED</option>
              <option value='2'>YELLOW</option>
              <option value='3'>WHITE</option>
              <option value='4'>ORANGE</option>
              <option value='5'>VIOLET</option>
              <option value='6'>GREEN</option>
              <option value='7'>PINK</option>
              <option value='100'>NONE</option>
              <option value='' selected>Select a Color</option>
            </select>
          
            <h3>Colour 6:</h3>
    
            <select width=300 
                    style="width: 350px">
              <option value='1'>RED</option>
              <option value='2'>YELLOW</option>
              <option value='3'>WHITE</option>
              <option value='4'>ORANGE</option>
              <option value='5'>VIOLET</option>
              <option value='6'>GREEN</option>
              <option value='7'>PINK</option>
              <option value='100'>NONE</option>
              <option value='' selected>Select a Color</option>
            </select>
          
            <h3>Colour 7:</h3>
    
            <select width=300 
                    style="width: 350px">
              <option value='1'>RED</option>
              <option value='2'>YELLOW</option>
              <option value='3'>WHITE</option>
              <option value='4'>ORANGE</option>
              <option value='5'>VIOLET</option>
              <option value='6'>GREEN</option>
              <option value='7'>PINK</option>
              <option value='100'>NONE</option>
              <option value='' selected>Select a Color</option>
            </select>
            <hr>
            <input type="submit">
          </form>

      </form>
	</center>
</body>

</html>

